html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    /* background: url("/resources/images/background.jpg") no-repeat; */
    background: ghostwhite;
}

* {
    box-sizing: border-box;
}

.template-card-action-btn {
    text-decoration: none;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    transition: .4s ease;
    cursor: pointer;
}

.template-card-action-btn:hover {
    background-color: aquamarine;
    color: 4CAF50;
}

.poll-circled-text {
    font-size: 30px;
    font-weight: 600;
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: ivory;
    line-height: 25px;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 60%;
    background-color: honeydew;
}

/* The animation code */

@keyframes headerTextColor {
    0% {
        color: indianred;
    }
    25% {
        color: blue;
    }
    50% {
        color: lightseagreen;
    }
    100% {
        color: goldenrod;
    }
}

.header-floater-text {
    color: blue;
    animation-name: headerTextColor;
    animation-duration: 5s;
    animation-delay: -3s;
    animation-iteration-count: infinite;
}

.dashboard-floater {
    background-color:darkkhaki;
}
 