<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Poll Result</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../resources/css/custom.css">

    <script type="text/javascript" src="../resources/js/dbPathBuilder.js"></script>
    <script type="text/javascript" src="../resources/js/db.js"></script>
    <script type="text/javascript" src="../resources/js/common.js"></script>
    <script type="text/javascript" src="../resources/js/poll.js"></script>

</head>


<body>
    <!-- Header section start -->
    <!-- Header section start -->
    <div id="navigation" class="navigation-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <nav id="navbar-header" class="navbar fixed-top navbar-expand-md navbar-dark bg-info">
                        <a class="navbar-brand " href="../index.html"><h3><span class="text-warning poll-circled-text">Poll</span><span
                                    class="text-light">Rater</span></h3></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
                            <ul class="nav navbar-nav">
                                <li class="nav-item"><a class="nav-link text-light" href="../index.html">Home</a> </li>
                                <div id="dashboard">
                                    <li class="nav-item"><a class="nav-link text-light mr-2" href="../dashboard.html">Dashboard</a></li>
                                </div>
                                <li class="nav-item dropdown mr-5">
                                    <div class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-warning text-uppercase font-weight-bold" id="displayLoggedInUserFullName"></span>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                                        <span id="loggedOut" class="dropdown-item" onclick="logout('../login.html');">Logout</span>
                                    </div>
                                </li>
                                <div id="login">
                                    <li class="nav-item"><a class="nav-link text-light" href="../login.html">Login</a></li>
                                </div>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- Nav section end -->

    <div id="basePollResult" class="text-based-template-css">
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form name="basePollResultForm" id="basePollResultForm" onSubmit="return onSubmit()" method="GET">
                        <h5><span id="displayQuestionText"></span></h5>

                        <div id="basePollData">
                            <script id="base-template-id" type="html/x-template">
                                <div class="form-check p-2">
                                    <img src="{{displayImage}}" alt="" height="80px" width="80px"/>
                                    <label class="form-check-label">{{displayOptionText}}</label>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" id="{{displayPollOptionProgress}}" style="width:{{diplayProgressBarWidth}}" aria-valuemin="0" aria-valuemax="100">
                                            <label class="form-check-label">{{displayOptionPollTotalCount}} <!--<strong class="pl-1 pr-1">[{{displayOptionPollCount}}]</strong>--></label>
                                        </div>
                                    </div>
                                </div>
                            </script>
                        </div>

                        <br>
                        <!-- <div class="form-check p-2">
                            <strong>Total Vote:</strong> <label class="form-check-label" id="displayTotalVotedPoll"></label>
                        </div> -->
                        <br>

                        <div>
                            <input type="button" value="Back to poll page" class="btn btn-outline-info mr-2 mb-2" id="backToPollPage" onclick="location.href='./basePoll.html'"
                            />
                            <input type="button" value="Back to home page" class="btn btn-outline-info mr-2 mb-2" id="backToHomePage" onclick="location.href='../index.html'"
                            />
                            <input type="button" value="Use this Poll" class="btn btn-outline-success mr-2 mb-2" id="useThisPoll" onclick="location.href='../poll/createPoll.html'"
                            />
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>


</body>

</html>