<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Poll</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../resources/css/custom.css">
    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/firbase_config.js"></script>
    <script type="text/javascript" src="../resources/js/dbPathBuilder.js"></script>
    <script type="text/javascript" src="../resources/js/db.js"></script>
    <script type="text/javascript" src="../resources/js/common.js"></script>
    <script type="text/javascript" src="../resources/js/poll.js"></script>
    <script type="text/javascript" src="../resources/js/imageLoader.js"></script>
</head>

<body>

    <!-- Header section start -->
    <div id="navigation" class="navigation-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <nav id="navbar-header" class="navbar fixed-top navbar-expand-md navbar-dark bg-info">
                        <a class="navbar-brand " href="../index.html"><h3><span class="text-warning poll-circled-text">Poll</span><span
                                    class="text-light">Rater</span></h3></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
                            <ul class="nav navbar-nav">
                                <li class="nav-item"><a class="nav-link text-light" href="../index.html">Home</a> </li>
                                <div id="dashboard">
                                    <li class="nav-item"><a class="nav-link text-light mr-2" href="../dashboard.html">Dashboard</a></li>
                                </div>
                                <li class="nav-item dropdown mr-5">
                                    <div class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-warning text-uppercase font-weight-bold" id="displayLoggedInUserFullName"></span>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                                        <span id="loggedOut" class="dropdown-item" onclick="logout('../login.html');">Logout</span>
                                    </div>
                                </li>
                                <div id="login">
                                    <li class="nav-item"><a class="nav-link text-light" href="../login.html">Login</a></li>
                                </div>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <!-- Nav section end -->

    <div id="customPoll" class="text-based-template-css">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form name="baseToCustomPollForm" id="baseToCustomPollForm" method="POST">

                        <span class="highlight text-primary">**You can edit the question and options text/image as desired
                            by clicking on the text/image. </span>
                        <hr>
                        <h5><span id="displayQuestionText" contenteditable="true"></span></h5>

                        <div id="customPollData">
                            <script id="custom-template-id" type="html/x-template">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="option_name" id="{{displayOptionID}}" value="{{displayOptionValue}}"/>
                                    <div id="{{imagePlacehoder}}" style="{{divStyle}}">
                                        <input type="file" id="{{displayFileIndex}}" value="upload" onchange="readURL(this);"/>
                                        <img src="{{displayImage}}" alt="" height="80px" width="80px" id="{{displayImageId}}" contenteditable="true"/>
                                    </div>
                                    <label class="form-check-label" for="{{displayOptionRef}}" id="{{displayLabelId}}" contenteditable="true">{{displayOptionText}}</label>
                                </div>
                            </script>

                        </div>

                        <br>

                        <div>
                            <button type="button" value="Save" id="submit" class="btn btn-outline-success mr-2 mb-2" onclick="savePoll();">Save</button>
                            <input type="button" value="Back to home page" class="btn btn-outline-info mr-2 mb-2" id="back" onclick="location.href='../index.html'"
                            />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>